@using Naif.Blog.Razor.Framework
@using Naif.Blog.Razor.Menus
@using Naif.Blog.UI.ViewModels

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Naif.Blog.UI.ViewModels.BlogViewModel

@{
    Layout = "_AdminLayout";

    var pageState = new PageState { User = Model.User };
    var addUrl = $"/page/add";
    
    var pages = Model.Pages.Select(page => new SelectListItem { Value = page.PostId, Text = page.Title }).ToList();
    pages.Insert(0, new SelectListItem { Value="", Text="<-None Selected->"});
    
    var postViewModel = Model.Post?.ToPostViewModel();
    var editPostViewModel = new EditPostViewModel()
    {
        ActionUrl = "/page/save",
        Messages = Model.Messages,
        PageIndex = Model.PageIndex,
        Post = postViewModel,
        Pages = pages,
        ReturnUrl = Model.ReturnUrl
    };
}


<div class="row">
    <div class="col-lg-4">
        <h2>Manage Pages</h2>
        <component type="typeof(SideBar)"
                   render-mode="ServerPrerendered"
                   param-BaseUrl = "@Model.BaseUrl"
                   param-CssClass="@("list-group list-group-flush")"
                   param-Depth="4"
                   param-PageState="@pageState"
                   param-PostId="@String.Empty"
                   param-Posts="@Model.Pages.ToList()"
                   param-SelectedPost="@Model.Post"
                   param-SubMenuCssClass="@("list-group list-group-flush")">
        </component>
    </div>
        <div class="col-lg-8">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a role="button" class="btn btn-primary me-md-2 btn-lg" href="@addUrl">Add Page</a>
            </div>
            @if(postViewModel != null)
            {
                if (String.IsNullOrEmpty(Model.Post.Title))
                {
                    <h2>Add Page</h2>
                }
                else
                {
                    <h2>Edit Page - @Model.Post.Title</h2>
                }
                @await Html.PartialAsync("../Shared/_EditPost.cshtml", editPostViewModel);
            }
    </div>
</div>

