@using Naif.Blog.Razor

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Naif.Blog.UI.ViewModels.BlogViewModel

@{
    var editUrl = $"/post/edit/{Model.Post.PostId}?returnUrl=/post/{Model.Post.Slug}";
    var deleteUrl = $"/post/delete/{Model.Post.PostId}?returnUrl=/post/{Model.Post.Slug}";
    var categoryUrl = "/category";
    var tagUrl = "/Tag";
}

<section>
    <component type="typeof(PostView)" 
               render-mode="ServerPrerendered"
               param-DeleteUrl="@deleteUrl"
               param-EditUrl="@editUrl"
               param-CategoryUrl="@categoryUrl"
               param-Post="@Model.Post"
               param-TagUrl = "@tagUrl">
    </component>
</section>