@using Microsoft.AspNetCore.Authorization
@using Naif.Blog.Razor
@inject IAuthorizationService AuthorizationService

@model Naif.Blog.UI.ViewModels.BlogViewModel

<!DOCTYPE html>
<html>
<head>
    @{
        var cssFile = $"~/{Model.Blog.Theme}/dist/assets/css/{Model.Blog.Theme}.css";
    }
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Model.Blog.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/jqcloud/jqcloud.min.css"/>
    <link rel="stylesheet" href="@cssFile"/>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/popper.js/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jqcloud/jqcloud.min.js"></script>
</head>
<body>
    @await Component.InvokeAsync("NavBar", Model.Blog)
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    @Model.Blog.Title<br/>
                    <small>@Model.Blog.ByLine</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div id="mainPane" class="col-md-8">
                @RenderBody()
            </div>
            <div id="sidePane" class="col-md-4">
                @(await Html.RenderComponentAsync<Disclaimer>(RenderMode.ServerPrerendered, new { Model.Blog}))
                @(await Html.RenderComponentAsync<CategoryList>(RenderMode.ServerPrerendered, new { Model.Blog}))
                @await Component.InvokeAsync("TagCloud", new { blogId = Model.Blog.Id, count = -1})
            </div>
        </div>
    </div>
    @(await Html.RenderComponentAsync<PageFooter>(RenderMode.ServerPrerendered, new { Model.Blog}))
</body>
</html>