@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Naif.Blog.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Post

@{
    var post = Model as Post;
    var returnUrl = $"/post/index";
    if (ViewBag.PageIndex > 0)
    {
        returnUrl += $"/?page={ViewBag.PageIndex}";
    }
    var link = $"/post/{post.Slug}";
}

<article class="excerpt">
    <header>
        <h3><a href="@link">@post.Title</a></h3>
    </header>
    <section>
        @Html.Raw(post.Excerpt)
    </section>
    <div class="info">
        <div class="date">
            <span class="month">@post.PubDate.ToString("MMM")</span>
            <span class="day">@post.PubDate.Day</span>
            <span class="year">@post.PubDate.Year</span>
        </div>
        <div style="clear:both"></div>
    </div>
</article>
<hr />
